html,
body {
    font-family: var(--main-font);
    color: var(--main-color);
    font-weight: 400;

    background-color: var(--bg-color);

    a {
        color: var(--accent-color);
    }
}

main {
    margin-top: -170px;
    padding: 0 15px;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}