:root {
    // Color
    --main-color: #000000;
    --accent-color: #FFB548;

    --btn-color: #1A1917;

    --bg-color: #ffffff;

    // Fonts
    --main-font: "Open Sans", sans-serif;
    --accent-font: "Bebas Neue", sans-serif;
}